<!DOCTYPE html>
<html ng-app="angularApp">
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div ng-controller="myController">
		</div>
		<div ng-controller="addController as c">
		<table class="table table-striped">
			<thead>
				<th>Name</th>
				<th>Size</th>
			</thead>
			<tbody>
				<tr ng-repeat="bork in c.mootNames">
					<td>{{ bork.name }}</td>
					<td>{{ bork.size }}</td>
				</tr>
			</tbody>
		</table>
		</div>
	<form ng-controller="addController as vm" ng-submit="vm.submit()" >
		<div class="form-group">
			Name:<input type="text" class="form-control" name="name" ng-model="vm.name">
		</div>
		<div class="form-group">
				Size:<input type="text" class="form-control" name="size" ng-model="vm.size">
		</div>
		<div class="form-group">
			Badness level:<input type="text" class="form-control" name="badnessLevel" ng-model="vm.level">
		</div>
		<input type="submit" class="btn btn-primary" id="submit" value="Add moot" />
	</form>

	<br>
	<br>

	<form ng-controller="deleteController as vm" ng-submit="vm.delete()">
		DELETE MOOTS FROM DATABASE
		<br>
		<div class="form-group">
			<input type="text" class="form-control" name="name" ng-model="vm.deleteName">
		</div>
		<input type="submit" class="btn btn-primary" id="delete" value="Delete moot">
	</form>
	<br>
	<form ng-controller="updateController as vm" ng-submit="vm.update()">
		Update Moot
		<br>
		<div class="form-group">
			Old name<input type="text" class="form-control" name="name" ng-model="vm.updateSelector">
			New name<input type="text" class="form-control" name="name" ng-model="vm.newNameSelector">
		</div>
		<input type="submit" class="btn btn-primary" id="update" value="Update moot">
	</form>
	<br>
	<br>
	<div id="player"></div>

	<script src="public/angular/app.js"></script>
	<script src="public/youTube.js"></script>
	<script src="public/angular/controllers/myController.js"></script>
	<script src="public/angular/controllers/deleteController.js"></script>
	<script src="public/angular/controllers/addController.js"></script>
	<script src="public/angular/controllers/updateController.js"></script>

</body>
</html>